include LICENSE
include requirements.txt
include eq1_network/py.typed
recursive-include docs *.md *.png
recursive-include eq1_network *

recursive-exclude .git *
recursive-exclude __pycache__ *
recursive-exclude *.egg-info *