include README.md
include LICENSE
include requirements.txt
include app/py.typed
recursive-include app *.py
recursive-include docs *.md *.png
recursive-include examples *.py
recursive-exclude tests *
recursive-exclude .git *
recursive-exclude __pycache__ *
recursive-exclude *.egg-info *